URxvt.scrollBar: off
URxvt.font: -*-terminus-medium-*-*-*-16-*-*-*-*-*-*-*

URxvt.foreground: #D0D0D0
URxvt.background: #121212

!black
URxvt.color0:  #353535
URxvt.color8:  #666666
!red
URxvt.color1:  #8c595a
URxvt.color9:  #ad555a
!green
URxvt.color2:  #97af81
URxvt.color10: #94c27b
!yellow
URxvt.color3:  #bdba73
URxvt.color11: #dece42
!blue
URxvt.color4:  #52798c
URxvt.color12: #429abd
!magenta
URxvt.color5:  #7b798c
URxvt.color13: #8c79b5
!cyan
URxvt.color6:  #84aaad
URxvt.color14: #5ab2ad
!white
URxvt.color7:  #616161
URxvt.color15: #C4C4C4
